*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  overflow-x: hidden;

  &.active {
    overflow: hidden;
    height: 100vh;
  }
}

.container {
  width: min(1110px, 100%);
  margin-left: auto;
  margin-right: auto;
}

.pad {
  padding-left: 2rem;
  padding-right: 2rem;
}

%tr {
  transition: 0.3s ease;
}
%tr2 {
  transition: 0.2s ease;
}

%bg {
  content: "";
  position: absolute;
  height: 22rem;
  width: 100vw;
  background: $Soft-Blue;
  border-radius: 11rem;
}

button {
  cursor: pointer;
  outline: none;
  font-family: inherit;

  &.btn {
    font-weight: 500;
    border: 2px solid transparent;
    border-radius: 0.25rem;
    padding: 1rem 1.5rem 0.9375rem;
    box-shadow: 0 0.375rem 0.375rem -0.125rem rgba($Soft-Blue, 0.2);
    font-size: 0.875rem;
    letter-spacing: 0.016em;
    color: white;
    @extend %tr2;

    &:hover {
      border-color: $Soft-Red;
      color: $Soft-Red;
      background: white;
    }

    &-blue {
      background: $Soft-Blue;

      &:hover {
        border-color: $Soft-Blue;
        color: $Soft-Blue;
        background: white;
      }
    }

    &-gray {
      background: #f7f7f7;
      color: rgba($Very-Dark-Blue, 0.8);

      &:hover {
        border-color: $Very-Dark-Blue;
        color: rgba($Very-Dark-Blue, 0.8);
        background: white;
      }
    }

    &-red {
      background: $Soft-Red;
    }

    &-login {
      font-size: 0.8125rem;
      letter-spacing: 0.11em;
      text-transform: uppercase;
      padding: 0.75rem 2.125rem;
    }

    &-outline {
      font-size: 1.25rem;
      letter-spacing: 0.11em;
      text-transform: uppercase;
      color: white;
      background: transparent;
      border-color: white;

      &:hover {
        color: white;
        background: $Soft-Red;
        border-color: transparent;
      }
    }
  }
}

input {
  outline: none;
  font-family: inherit;
  font-size: 0.875rem;
  letter-spacing: 0.016em;
  color: $Very-Dark-Blue;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  padding: 1rem 1.25rem 0.9375rem;
  @extend %tr2;

  &:hover {
    border-color: rgba($Soft-Blue, 0.3);
  }

  &:focus {
    border-color: rgba($Soft-Blue, 0.5);
  }

  &::placeholder {
    color: rgba($Grayish-Blue, 0.5);
  }
}

.section-text {
  width: min(33.5rem, 100%);
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  h2 {
    margin-bottom: 1.5rem;

    @include tablet {
      margin-bottom: 1rem;
    }
  }
}
