.cta {
  background: $Soft-Blue;
  text-align: center;

  .container {
    width: min(440px, 100%);
    padding: 4.375rem 0 4.625rem;

    @include tablet {
      padding-bottom: 3.75rem;
    }
  }

  .joined {
    display: inline-block;
    margin-bottom: 2.375rem;

    @include tablet {
      margin-bottom: 0.875rem;
    }
  }

  h2 {
    margin-bottom: 2.25rem;

    @include tablet {
      margin-bottom: 2rem;
    }
  }

  form {
    display: flex;
    align-items: center;

    @include tablet {
      flex-direction: column;
    }

    &.error {
      label {
        top: 3rem;
      }
      input {
        border-color: $Soft-Red;
      }
      i {
        opacity: 1;
      }

      @include tablet {
        input {
          margin-bottom: 2.5rem;
        }
      }
    }
  }

  .input-container {
    position: relative;
    margin-right: 1rem;
    width: 100%;

    @include tablet {
      margin-right: unset;
    }
  }

  input {
    position: relative;
    width: 100%;
    z-index: 1;

    @include tablet {
      margin-bottom: 1rem;
    }
  }

  label {
    position: absolute;
    left: 0;
    top: 1rem;
    padding: 0.5rem 1rem 0.375rem;
    background: $Soft-Red;
    width: 100%;
    text-align: left;
    z-index: 0;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    @extend %tr;
  }

  i {
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    color: $Soft-Red;
    pointer-events: none;
    opacity: 0;
    @extend %tr2;
  }

  .btn {
    @include tablet {
      width: 100%;
    }
  }
}
